<div class="justify-center h-full mt-20">
  <div class="flex-wrap justify-center place-content-evenly">
      <div class="px-3 py-6 bg-gray-200 rounded-lg mt-4">
        <div class="text-center">
          <p class="text-2xl font-semibold">What is this website?</p>
        </div>
        <hr class="mt-3 mx-5 border-b-1 border-black">
        <div class="align-start px-3 py-2">
          <p>This website is a place to upload your photos/videos in order to share them with others that have access to the same folders. The point of the site is to allow for large scale, backed up storage of our collective media, without paying fees to dropbox/google photos/icloud/etc. </p>
          <p class="py-2 text-xl font-bold">How do I make an account?</p>
          <p>Go to the login tab and select "Register" from the login screen. Alternitavely, you can click <a class="text-blue-800 underline" href="<%= new_user_path %>">here</a></p>
          <p class="py-2 text-xl font-bold">Do I need an account to use the website?</p>
          <p>Yes, you need an account. The files are uploaded to a physical computer in my home, so the control is necessary</p>
          <p class="py-2 text-xl font-bold">How do I see my folders?</p>
          <p>After logging in, go to the <a class="text-blue-800 underline" href="<%= file_transfer_index_path %>">media</a> tab</p>
          <p class="py-2 text-xl font-bold">How do I get access to folders?</p>
          <p>You should ask the site administrator, or any admins. If you are an admin, you should know how to give access to files</p>
          <p class="py-2 text-xl font-bold">Who can see the videos/photos I upload?</p>
          <p>Anyone with access to the same folder as you</p>
          <p class="py-2 text-xl font-bold">Where are these files stored?</p>
          <p>On my personal web server</p>
          <p class="py-2 text-xl font-bold">Who controls the website?</p>
          <p>Me</p>
        </div>
      </div>
  </div>
</div>
